// smaller 
// @media screen and (min-width:px) {


.navbar img {
    width: 60px;
    padding: 20px;
    margin-left: 1%;
}

.burger {
    display: block;
    float: right;
    line-height: 35px;
    font-size: 36px;
    color: #3f8a2e;
    cursor: pointer;
}

.burger,
.map-icon {
    padding: 40px 20px 20px 20px;
}



.navbar-container ul {
    display: none;
    list-style: none;
    padding-left: 0;
}

#burger:checked+ul {
    display: block;
}

.menu {
    clear: both;
    display: block;
    text-align: center;

    a {
        display: block;
        padding: 10px;
        font-size: 14px;
    }
}

.map-icon {
    color: #3f8a2e;
    height: 35px;
}

.info {
    display: none;
}

.detail,
.login {
    padding: 20px 0;
    width: 100%;
    height: 220px;
    text-align: center;
    color: white;

}

.detail {
    // width: 100%;
    line-height: 2.7rem;

    // h1,h3{
    //     line-height:5rem;
    // }
}

.login {
    line-height: 30px;

    img {
        width: 30%;
        // max-width: 50%;
        margin-top: 30px;
    }
}



.borrow-content,
.delivery-content {
    width: 100%;
    text-align: center;
    line-height: 50px;
    padding: 40px 0;
}

.borrow img,
.delivery img {
    width: 100%;
}

.ad {
    cursor: pointer;
    position: fixed;
    top: 30%;
    right: 0;
    width: 25%;
    max-width: 150px;
    border-radius: 15px;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu {
    // border: red 1px solid;
    width: 20%;
    display: inline-block;
    margin: 20px 10px;
    vertical-align: text-top;

    .item {
        line-height: 4rem;
        font-size: 16px;
    }

    .submenu-item {
        line-height: 2rem;
        font-size: 12px;
    }

    p {
        cursor: pointer;
    }
}

.footer-guid{
    display: none;
}




// }




// medium 765px
@media screen and (min-width:765px) {
    .navbar {
        position: relative;
        width: auto;
    }

    .map-icon,
    .burger {
        display: none;
    }

    .navbar-container ul {
        display: inline-block;
        margin-left: 15%;
        width: fit-content;
        float: none;
        position: absolute;
        left: 0;
        right: 0;
        // top: 0;
        bottom: 0;
    }

    .navbar-container ul li {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    .menu a,
    .info a {
        letter-spacing: .1rem;
        padding-inline-end: 14px;
    }

    .navbar-content ul {
        display: inline-block;
        width: fit-content;
        color: #5d5d5d;
        list-style: none;
        position: absolute;
        right: 5%;
        top: 10px;
    }

    .navbar-content ul li {
        display: inline;

        a {
            font-size: 14px;
        }
    }

    main {
        margin: 30px 2%;
    }

    .detail,
    .login {
        width: 50%;
        height: 250px;
    }

    .detail button,
    .login button {
        border-radius: 50px;
        border: white solid 1px;
        color: white;
    }

    .detail {
        // float: right;
        position:absolute;
        right:0;


        h1,
        h3 {
            margin-bottom: 1.6rem;
            line-height: 1.5rem;
        }

        img {
            width: fit-content;
            // padding-top: 20px;
        }
    }

    .login {

        // float: left;
        h2 {
            margin-bottom: 1.2rem;
        }
        img{
        width: 50%;

        }
    }

    // .d-flex {
    //     display: flex;
    // }

    // .row-reverse {
    //     display: flex;
    //     flex-direction: row-reverse;
    // }

    .container-box{
        display: flex;
    }

    .borrow,
    .delivery {
        width: 50%;
        // margin:0;
        // margin:10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .borrow {
        // position:absolute;
        // left:0;
        


        border-inline-end: white 20px solid;
    }

    .borrow img {
        height: fit-content;
    }

    .borrow-content,
    .delivery-content {

        height: 300px;

    }


    .ad {
        width: 150px;
    }

   


    .footer-content {
        background-image: url(/images/wordmark_footer.png);
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 98%;
    }


    .footer-menu {

        .item {
            line-height: 4rem;
            font-size: 20px;
        }

        .submenu-item {
            line-height: 2rem;
            font-size: 16px;
        }
    }


}




// larger 1180px
@media (min-width:1180px) {


    .navbar {
        height: 120px;
    }

    .navbar ul li a {
        font-size: 18px;

    }

    .navbar img {
        width: 80px;
        padding: 20px;
        margin-left: 3%;
    }

    .detail,
    .login {
        height: 280px;
    }

    .detail {
        line-height: 3.5rem;
    }


    .borrow-content,
    .delivery-content {
        height: 150px;
    }

    // .footer-menu{
    //     width:20%;
    // }
    .footer-guid{
        display: block;
        font-size: 14px;
    }


}